<template>
  <div class="home">
    <DebtsHolder />
  </div>
</template>

<script>
// @ is an alias to /src
import DebtsHolder from '@/components/DebtsHolder.vue'

export default {
  name: 'home',
  components: {
    DebtsHolder
  }
}
</script>
