<template>
	<div class="calculator">
    <h1>{{ appTitle }}</h1>

    <!-- 
      .debts-holder 
      will hold our <individual-debt> components 
      using the v-for directive to create a component for each array item in the loop 
    -->
    <div class="debts-holder">
      <individual-debt 
        v-for="(debt, index) in allDebts" 
        :key="'debt' + index"
        :debt="debt" 
        :index="index"
        @confirmed="onConfirm"
      />
    </div>
    <button @click="submit">Submit</button>
    <!-- 
      .debt-controls 
      will hold calculator controls (add / remove buttons)
    -->
    <div class="debt-controls">
    </div>

    <!-- 
      .result-holder 
      will hold the calculated total debt results
    -->
    <div class="result-holder">
    </div>
	</div>
</template>

<script>
// import IndividualDebt component
// uses the vue @ alias for /src/ folder
import IndividualDebt from '@/components/IndividualDebt.vue'

// debtModel is used to set default object for new debts
const debtModel = {
  'amount':   null,   // number
  'term':     null,   // number
  'monthly':  null,   // string
}

export default {
  name: 'debtsHolder',
  // include IndividualDebt component in this component
  components: {
    IndividualDebt
  },
  data() {
    return {
      appTitle: 'Vue Debts Calculator',
      // this array will hold our individual debts
      allDebts: [debtModel, debtModel, debtModel],
    }
  },
  methods: {
    onConfirm (debt) {
      // log the debt + exclude the next line from js linter
      // eslint-disable-next-line
      console.log(debt)
      
      // when the debt is confirmed
      // use the debt index to update the relevant allDebts array item
      this.$set(this.allDebts, debt.index, {
        'amount':   debt.amount,
        'term':     debt.term,
        'monthly':  debt.monthly,
      })
    },
    submit () {
      this.$router.push({ name: 'about', params: { allDebts: this.allDebts }})
    }
  }
}
</script>

<style lang="scss" scoped>
</style>