<template>
  <div class="debt-item">
    <h3>Debt {{ index + 1 }}</h3>

    <div>
      <label>Debt Amount</label>
      <input v-model.number="amount" />
    </div>

    <div>
      <label>Debt Term</label>
      <input v-model="term" />
    </div>

    <div>
      <label>Debt Monthly payment</label>
      <input v-model="monthly" />
    </div>

    <!-- confirm the debt and emit event to parent -->
    <button class="btn" @click="confirmDebt">Confirm debt</button>
  </div>
</template>

<script>
export default {
  name: 'individual-debt',
  props: {
    // debt object will contain
    // amount, term and monthly payments
    // this is used to populate the debt item
    debt: Object,
    // index is used to display the debt number in the <h3> title
    // and is also passed with the emit event to the parent,
    // so the parent can update the relevant array item
    index: Number
  },
  data() {
    return {
      // component variables which we bind to the inputs
      // set default values using our 'debt' prop
      // default values are not required
      amount: this.debt.amount,
      term: this.debt.term,
      monthly: this.debt.monthly,
    }
  },
  methods: {
    // pass data from debt-item (child component) to the 'calculator' (parent component)
    // required to pass the parent the data held in each debt-item component, 
    // the data can then be used for calculations
    confirmDebt () {
      // parent component will need to listen for 'confirmed' event
      // using @confirmed="exampleHandleDataMethod"
      // the debt information object will then be passed to the handler method
      this.$emit('confirmed', {
        amount: this.amount,
        term: this.term,
        monthly: this.monthly,
        index: this.index
      })
    }
  }
}
</script>

<style lang="scss">
@import "../assets/_variables.scss";

h3 {
  margin-top: 0;
  margin-bottom: $gutter;
}

label,
input {
  font-size: $size-body;
  display: block;
  width: 100%;
  font-family: $font-family;
}

label {
  margin-bottom: $gutter/2.5;
}

input {
  padding: $gutter/2;
  border: 1px solid $color-grey;
  color: $color-navy;
}
</style>
