@import './_variables';

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color-navy;
}

.calculator {
    padding: 0 $gutter;
}

.debts-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -$gutter/2;
}

.debt-item {
    border: 1px solid $color-grey;
    padding: $gutter;
    margin: $gutter/2;
    width: 100%;
    text-align: left;
    div {
        margin-bottom: $gutter;
    }
  
    @media only screen and (min-width: 768px) {
        flex-basis: calc(33.33% - #{$gutter});
    }
}

.btn {
    border: 0 none;
    background: #3e7ab1;
    padding: $gutter/2;
    color: #fff;
    font-size: $size-body;
    font-family: $font-family;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    &.add {
        background: #4db13e;
    }
    &.remove {
        background: tomato;
    }
    &:disabled {
      background: $color-grey;
    }
}